<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="yireo_extensionchecker_scan" xsi:type="object">Yireo\ExtensionChecker\Console\Command\ScanCommand</item>
                <item name="yireo_extensionchecker_version_match" xsi:type="object">Yireo\ExtensionChecker\Console\Command\VersionMatchCommand</item>
            </argument>
        </arguments>
    </type>

    <type name="Yireo\ExtensionChecker\Console\Command\ScanCommand">
        <arguments>
            <argument name="scan" xsi:type="object">Yireo\ExtensionChecker\Scan\Scan\Proxy</argument>
        </arguments>
    </type>
</config>
