<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="yireo_extensionchecker_scan" xsi:type="object">Yireo\ExtensionChecker\Console\Command\ScanCommand</item>
                <item name="yireo_extensionchecker_list_dependencies" xsi:type="object">Yireo\ExtensionChecker\Console\Command\ListDependenciesCommand</item>
                <item name="yireo_extensionchecker_list_classes" xsi:type="object">Yireo\ExtensionChecker\Console\Command\ListClassesCommand</item>
                <item name="yireo_extensionchecker_inspect_class" xsi:type="object">Yireo\ExtensionChecker\Console\Command\InspectClassCommand</item>
                <item name="yireo_extensionchecker_create_plantuml_diagram" xsi:type="object">Yireo\ExtensionChecker\Console\Command\CreatePlantUmlDiagramCommand</item>
                <item name="yireo_extensionchecker_check_magento_version" xsi:type="object">Yireo\ExtensionChecker\Console\Command\CheckMagentoVersionCommand</item>
                <item name="yireo_extensionchecker_list_modules" xsi:type="object">Yireo\ExtensionChecker\Console\Command\ListModulesCommand</item>
                <item name="yireo_extensionchecker_suggest_module_xml" xsi:type="object">Yireo\ExtensionChecker\Console\Command\SuggestModuleXmlCommand</item>
                <item name="yireo_extensionchecker_suggest_composer_json" xsi:type="object">Yireo\ExtensionChecker\Console\Command\SuggestComposerJsonCommand</item>
            </argument>
        </arguments>
    </type>

    <type name="Yireo\ExtensionChecker\Console\Command\ScanCommand">
        <arguments>
            <argument name="scan" xsi:type="object">Yireo\ExtensionChecker\Scan\Scan\Proxy</argument>
        </arguments>
    </type>

    <type name="Yireo\ExtensionChecker\ComponentDetector\ComponentDetectorList">
        <arguments>
            <argument name="componentDetectors" xsi:type="array">
                <item name="php_class" xsi:type="object">Yireo\ExtensionChecker\ComponentDetector\PhpClassComponentDetector</item>
                <item name="php_file" xsi:type="object">Yireo\ExtensionChecker\ComponentDetector\PhpFileComponentDetector</item>
                <item name="layout" xsi:type="object">Yireo\ExtensionChecker\ComponentDetector\LayoutComponentDetector</item>
                <item name="template" xsi:type="object">Yireo\ExtensionChecker\ComponentDetector\TemplateComponentDetector</item>
                <item name="xml" xsi:type="object">Yireo\ExtensionChecker\ComponentDetector\XmlComponentDetector</item>
                <item name="guess" xsi:type="object">Yireo\ExtensionChecker\ComponentDetector\GuessComponentDetector</item>
            </argument>
        </arguments>
    </type>

    <virtualType type="Yireo\ExtensionChecker\File\FileCollector" name="Yireo\ExtensionChecker\Virtual\LayoutFileCollector">
        <arguments>
            <argument name="fileSuffix" xsi:type="string">.xml</argument>
            <argument name="fileFolder" xsi:type="string">view</argument>
        </arguments>
    </virtualType>

    <type name="Yireo\ExtensionChecker\ComponentDetector\LayoutComponentDetector">
        <arguments>
            <argument name="fileCollector" xsi:type="object">Yireo\ExtensionChecker\Virtual\LayoutFileCollector</argument>
        </arguments>
    </type>

    <virtualType type="Yireo\ExtensionChecker\File\FileCollector" name="Yireo\ExtensionChecker\Virtual\PhpFileCollector">
        <arguments>
            <argument name="fileSuffix" xsi:type="string">.php</argument>
        </arguments>
    </virtualType>

    <type name="Yireo\ExtensionChecker\ComponentDetector\PhpFileComponentDetector">
        <arguments>
            <argument name="fileCollector" xsi:type="object">Yireo\ExtensionChecker\Virtual\PhpFileCollector</argument>
        </arguments>
    </type>

    <virtualType type="Yireo\ExtensionChecker\File\FileCollector" name="Yireo\ExtensionChecker\Virtual\TemplateFileCollector">
        <arguments>
            <argument name="fileSuffix" xsi:type="string">.phtml</argument>
            <argument name="fileFolder" xsi:type="string">view</argument>
        </arguments>
    </virtualType>

    <type name="Yireo\ExtensionChecker\ComponentDetector\TemplateComponentDetector">
        <arguments>
            <argument name="fileCollector" xsi:type="object">Yireo\ExtensionChecker\Virtual\TemplateFileCollector</argument>
        </arguments>
    </type>

    <virtualType type="Yireo\ExtensionChecker\File\FileCollector" name="Yireo\ExtensionChecker\Virtual\XmlFileCollector">
        <arguments>
            <argument name="fileSuffix" xsi:type="string">.xml</argument>
        </arguments>
    </virtualType>

    <type name="Yireo\ExtensionChecker\ComponentDetector\XmlComponentDetector">
        <arguments>
            <argument name="fileCollector" xsi:type="object">Yireo\ExtensionChecker\Virtual\XmlFileCollector</argument>
        </arguments>
    </type>

    <type name="Yireo\ExtensionChecker\PhpClass\ClassInspector\ClassDetectorListing">
        <arguments>
            <argument name="commandClassDetector" xsi:type="object">Yireo\ExtensionChecker\PhpClass\ClassInspector\CommandClassDetector\Proxy</argument>
        </arguments>
    </type>
</config>
