<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="yireo_extensionchecker_scan" xsi:type="object">Yireo\ExtensionChecker\Console\Command\ScanCommand</item>
                <item name="yireo_extensionchecker_version_match" xsi:type="object">Yireo\ExtensionChecker\Console\Command\VersionMatchCommand</item>
                <item name="yireo_extensionchecker_generate_unit_test" xsi:type="object">Yireo\ExtensionChecker\Console\Command\GenerateUnitTestCommand</item>
                <item name="yireo_extensionchecker_run_phpcs" xsi:type="object">Yireo\ExtensionChecker\Console\Command\RunCodingStandardCommand</item>
                <item name="yireo_extensionchecker_run_phpstan" xsi:type="object">Yireo\ExtensionChecker\Console\Command\RunPhpStanCommand</item>
                <item name="yireo_extensionchecker_run_unit_test" xsi:type="object">Yireo\ExtensionChecker\Console\Command\RunUnitTestCommand</item>
            </argument>
        </arguments>
    </type>

    <type name="Yireo\ExtensionChecker\Console\Command\ScanCommand">
        <arguments>
            <argument name="scan" xsi:type="object">Yireo\ExtensionChecker\Scan\Scan\Proxy</argument>
        </arguments>
    </type>

    <type name="Yireo\ExtensionChecker\Console\Command\RunPhpStanCommand">
        <arguments>
            <argument name="directoryList" xsi:type="object">\Magento\Framework\Filesystem\DirectoryList\Proxy</argument>
        </arguments>
    </type>
</config>
